#firstRow > * > img {
  margin-top: 60px;
}

#secondRow > * > img {
  margin-top: 10px;
}

#images > * > * > img {
  border: 7px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  float: left;
  height: 300px;
}
/*
#iPhoneX {
  float: left;
  height: 300px;
}

#iPhone8 {
  float: left;
  height: 300px;
}

#Launchers {
  float: left;
  height: 300px;
}

#RazerPhone {
  float: left;
  height: 300px;
}

#LGV30 {
  float: left;
  height: 300px;
}

#UbuntuWin10 {
  float: left;
  height: 300px;
}
*/
