/* I added borders on some images, so it would be easier to see their concrete position on the page. We can choose to remove
or to keep them, after every image is in the right place. But for now, let them stay where they are, because it's much easier
to tell where each image is.

Prem
*/
#iPhoneX, #iPhone8, #Launchers, #RazerPhone, #LGV30 {
  border: 7px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 60px;
}

#iPhone8, #Launchers, #RazerPhone, #LGV30 {
  margin-left: 10px;
}

#iPhoneX {
  float: left;
  height: 650px;
}

#iPhone8 {
  float: left;
  height: 300px;
}

#Launchers {
  float: left;
  height: 300px;
}

#RazerPhone {
  float: left;
  height: 300px;
}

#LGV30 {
  float: left;
  height: 300px;
}
