#iPhoneX, #iPhone8, #Launchers, #RazerPhone, #LGV30 {
  border: 10px solid black;
  border-radius: 15px;
  padding: 1px;
  margin-top: 60px;
}

#iPhone8, #Launchers, #RazerPhone, #LGV30 {
  margin-left: 10px;
}

#iPhoneX {
  float: left;
  height: 650px;
}

#iPhone8 {
  float: left;
  height: 300px;
}

#Launchers {
  float: left;
  height: 300px;
}

#RazerPhone {
  float: left;
  height: 300px;
}

#LGV30 {
  float: left;
  height: 300px;
}
